.toggle-switch {
  margin-left: auto;
}

.toggle-switch__checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch__label {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 0;
  cursor: pointer;
  width: 84px;
  height: 36px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.toggle-switch__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 36px;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: color 0.3s;
}

.toggle-switch__button_active {
  color: #fff;
}

.toggle-switch__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 36px;
  background-color: #000;
  border-radius: 20px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.toggle-switch__label:hover .toggle-switch__slider {
  transform: translateX(2px);
}

.toggle-switch__checkbox:checked
  + .toggle-switch__label
  .toggle-switch__slider {
  transform: translateX(42px);
}

.toggle-switch__checkbox:checked
  + .toggle-switch__label:hover
  .toggle-switch__slider {
  transform: translateX(40px);
}
