/* Labels */
.modal__label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  gap: 4px;
}

/* Inputs */
.modal__input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 8px 0;
  font-size: 16px;
  outline: none;
  font-weight: 400;
}

.modal__input::placeholder {
  color: #888;
}

/* Radio fieldset */
.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
  padding: 0;
  margin: 0 0 28px;
}

/* Legend */
.modal__legend {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  padding: 0;
}

/* Radio label */
.modal__label_type_radio {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

/* Radio input */
.modal__radio-input {
  margin: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: #000;
}
