.weather-card {
  overflow: hidden;
  min-height: 80px;
  height: 80px;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}

.weather-card__image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
  /* max-width: 40%; */
  object-fit: contain;
  object-position: right center;
  pointer-events: none;
  opacity: 1;
  color: transparent;
  font-size: 0;
}

.weather-card__temp {
  position: relative;
  bottom: 0;
  left: 16px;
  font-size: 36px;
  line-height: 1.1;
  margin: 0;
  padding-bottom: 20px;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-weight: 700;
  color: white;
  z-index: 2;
}
