.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-family: "Cabinet Grotesk Bold", sans-serif;
  padding: 20px 0;
  gap: 20px;
}
.header__profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.header__logo {
  margin-right: 24px;
}

.header__place {
  margin: 0;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.header__datetime {
  font-family: "Cabinet Grotesk Bold", sans-serif;
}

.header__add-clothes-btn {
  /* margin-left: auto; */
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s;
}

.header__add-clothes-btn:hover {
  opacity: 0.6;
}

.header__username {
  margin: 0;
  padding-left: 20px;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 12px;
}
