.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
  color: #000;
  font-size: 16px;
  line-height: 20px;
}

.footer__copyright {
  margin: 0;
}

.footer__author {
  margin: 0;
}
